<nav class="nav-menu">
    <div class="nav-section">Guide</div>
    <NavLink class="nav-item" href="" Match="NavLinkMatch.All">Overview</NavLink>
    <NavLink class="nav-item" href="getting-started">Getting started</NavLink>
    <NavLink class="nav-item" href="language">Language guide</NavLink>

    <div class="nav-section">Tooling</div>
    <NavLink class="nav-item" href="cli">CLI &amp; MSBuild</NavLink>
    <NavLink class="nav-item" href="extensions">Editor extensions</NavLink>

    <div class="nav-section">Reference</div>
    <NavLink class="nav-item" href="cheatsheet">Cheat sheet</NavLink>
</nav>
